<div class="home-section">
	<div class="current-events">
		<h1>CURRENT EVENTS</h1>
		<div class="current-events-block">
			<div class="current-events-item full-circle"></div> 
			<div class="current-events-item current-events-copy">
				<p>Join us at our "Haunted House!" This event is open to all current ABMC students. There will be a costume contest, face painting, and trick-or-treats too! It will be from 7-8 pm on October 22, 2016.</p> <p>Don't miss our next ABMC Free Style Friday "Jam Session"! (10/28/16)</p>
			</div>
		</div>
	</div>
</div>
