<div class="home-section">
	<div class="current-events">
		<h1>CURRENT EVENTS</h1>
		<div class="current-events-block">
			<div class="current-events-item full-circle"></div> 
			<div class="current-events-item current-events-copy">
				<p>Summer 'mini' session will begin again in June! Private Lessons will be offered for 
					$100 per month for Keyboard/Piano, Banjo, Guitar, Bass, Cello, Ukelele, and Drums.
				Sign up now while there are still spaces available!</p>
			</div>
		</div>
	</div>
</div>
