<div class="home-section lessons-offered">
	<h1>LESSONS OFFERED</h1>
	<div class="lessons-row-one">
		<div class="cell">
			<img src="{{site.url}}/img/guitar.png" />
			<p>Acoustic/Electric Guitar</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/drums.png" />
			<p>Drums</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/piano.png" />
			<p>Keyboard/Piano</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/Bass_Button.png" />
			<p>Electric Bass</p>
		</div>

	</div>
	<div class="lessons-row-two">
		<div class="cell">
			<img src="{{site.url}}/img/mic.png" />
			<p>Vocals</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/M_Button.png" />
			<p>Mandolin</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/Ukelele_Button.png" />
			<p>Ukulele</p>
		</div>
		<div class="cell">
			<img src="{{site.url}}/img/Drum_Line_Button.png" />
			<p>Drum Line</p>
		</div>
	</div>
</div>
