<div class="home-section">
	<div class="current-events">
		<h1>CURRENT EVENTS</h1>
		<div class="current-events-block">
			<div class="current-events-item full-circle"></div>
			<div class="current-events-item current-events-copy">
				<p>Andrews-Baldwin Music Company is now accepting applications for virtual and in-person lessons for Fall 2021 session. Sign-up forms are available
				for download below or on the Fall Lessons page. Calendar for Lesson availability will be updated soon.</p>
				<h2><a target="_blank" href="{{site.url}}/img/ABMC_Fall_Registration_2021.pdf">Download Sign-up form PDF</a></h2>
			</div>
		</div>
	</div>
</div>
