<div class="home-section home-gif">
	<div>
		<img src="{{site.url}}/img/Updated ABMCLOGO2.jpg">
	</div>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/0pWTYgjau6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/WByCSfqocGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
