
.fc-daygrid-event:hover {
	cursor: pointer;
}

.about-instructors {
	margin-left: 2em;
}

.about-instructors h1 {
	border-bottom: 0.2em double black;
}

.about-top {
	text-align: center;
	display: block;
	margin: auto;
}

.about-top img {
	margin-top: 1em;
	width: 50%;
}

.instructors {
	margin-left: 25%;
}

.section {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 3em;
	margin-bottom: 3em;
}

.section p {
	width: 60%;
	margin-left: 2em;
}

.section h4 {
	margin-top: 0;
}

.instructor-img {
	width: 100px;
	aspect-ratio: 1;
	margin-right: 1em;
}

.social-link {
	display: flex;
	align-items: center;
	margin-left: 2em;
	margin-top: 1em;
}

.social-link img {
	height: 30px;
	margin-right: 0.5em;
}

.social-link a {
	text-decoration: none;
}

/* Current Events */

.clearfix {
	clear: both;
	margin-bottom: 2em;
}

.info {
	margin-left: 15em;
}

.info h1 {
	display: inline-block;
}

.text-and-link {
	font-size: 20px;
	border-top-color: black;
	border-top-width: 0.3em;
	border-top-style: solid;
	padding-top: 1em;
	width: 50%;
	float: left;
}

.text-and-photo img {
	width: 50%;
	float: left;
}

.current-events {
	width: 70%;
	margin: auto;
	display: block;
	text-align: left;
}

.current-events-block {
	position: relative;
}

.current-events-copy {
	background: white;
	top: 3em;
	right: 6em;
	position: absolute;
	margin: auto;
	display: block;
	text-align: left;
	border-top-style: double;
	border-top-width: .5em;
	border-top-color: black;
}

.current-events-item {
	display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.full-circle {
	background-color: red;
	height: 13em;
	-moz-border-radius: 10em;
	-webkit-border-radius: 10em;
	width: 13em;
}

/* Lessons */

.cell {
	display: inline-block;
}

.cell img {
	padding: 2em;
	height: 25em;
}

.cell p {
	font-size: 16px;
}

.lessons-offered {
	text-align: center;
}

.header {
	text-align:center;
	margin-bottom: 1em;
}

.header-img {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.image {
	width: 27em;
	top: 4em;
	position: absolute;
}

.image-section {
	position: relative;
}


.footer {
	margin-bottom: 3em;
	text-align: center;
}

.navigation {
	text-align: center;
}

.navigation ul {
	list-style: none;
	display: inline-block;
}

.navigation ul li {
	display: inline;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

.home-gif {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-gif div {
	display: flex;
	margin-bottom: 2em;
	justify-content: center;
}

.home-gif div img {
	width: 70%;
}

.home-section {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top-style: double;
	border-top-width: .5em;
	border-top-color: black;
}

.events {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.events p {
	font-size: 14px;
}

.events h2 {
	border-bottom: 0.15em solid black;
	margin-bottom: 1em;
	width: 30%;
}

.event-modal {
	visibility: hidden;
	position: absolute;
	background: #ffffff;
	border: 2px solid #666666;
	border-radius: 5px;

	top: 50%;
	left: 25%;
  transform: translateY(-50%);
	width: 50%;
	height: 50%;
	z-index: 9;
	margin: 0 auto;
}

.dismiss {
	text-align: right;
	margin-right: 1.5em;
	margin-top: 0.5em;
}

.dismiss:hover {
	cursor: pointer;
}

.dismiss p {
	font-weight: bold;
	font-size: 26px;
}

.event-modal-active {
  visibility: visible;
  text-align: center;
}

.event-content {
  visibility: hidden;
}

.event-content-active {
  visibility: visible;
}

.event-info {
	margin-top: 2em;
	margin-left: 2em;
	text-align: left;
}

.event-label {
	font-weight: bold;
	font-size: 18px !important;
}

.value {
	font-size: 16px !important;
}

.make-up {
	color: red;
}


#lesson-dates thead {
	margin: 1em;
}

